.form-cont{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form{
  width: 320px;
  min-height: 400px;
  position: absolute;
  border:1px solid var(--CTA-bgc);
  display: flex;
  align-items: center;
  row-gap: 1rem;
}

.query{
  background-color:white;
  border-radius: inherit;
  color: black;
}
