.video-container{
    padding-top:2rem;
    position: absolute;
    width:60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.video{
    width:100%;
    height:80vh;
    padding: 1rem;
}

.video-data{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

@media screen and (max-width: 1000px) {
    .vid-data{
        display: flex;
        flex-wrap: wrap;

    }
    .icons{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        margin-left: 1rem;
    }
}

.creator-namee {
    display: flex;
    justify-content: center;
  }
  
.date-viewss {
    flex: 1;
    height: fit-content;
    width: 40%;
    display: flex;
    flex-direction: column;
    row-gap:1rem;
    justify-content: space-between;
  }

  .video-creatorr {
    margin: 1rem 0;
    display: flex;
    align-items: center;
    font-size: x-large;
  }
  

  .xs-img-avatarr {
    flex: 18%;
    width: 6rem;
    height: 6rem;
    margin: 0 10px;
    border-radius: 100%;
    overflow: hidden;
  }
  
  .avatar-img4 {
    object-fit: cover;
  }

  .vid-data{
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
  }

  .icons{
      cursor: pointer;
      flex:1;
      display: flex;
      align-items: center;
      justify-content: flex-end;
  }

  .icon{
      margin: 10px;
  }

  .icon:hover{
      color: var(--CTA-bgc);
      transform: scale(1.3);
      transition: 100ms ease-in-out;
  }

  .desc{
    margin: 10px 0;
  }