.file-wrap{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

#file{
    font-size: 4rem;
}

.playlist-file{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow:hidden;
    text-decoration: none;
    color: var(--logo-color);
}

.playlist-file:hover{
    transform: scale(1.1);
    transition: 100ms ease-in-out;
    color: var(--CTA-bgc);
}

.playlist-cont{
    width: 10rem;
    height: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
}
.playlist-cont>.btn{
    margin-top: 0;
}

.file-name{
    height: 1.3rem;
    width: 90%;
    text-align: center;
    overflow: hidden;
}