* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #051617;
  --secondary-color: white;
  --logo-color: #baf8e4;
  --CTA-bgc: #13808c;
  --CTA-hover-bgc: #1051589a;
}

body {
  background-color: black;
  color: var(--secondary-color);
}
