.page-layout {
  display: flex;
  width: 100%;
}

.menu {
  width: 89vw;
  flex: 8;
  position: absolute;
  left: 10rem;
  top: 5.5rem;
  min-height: fit-content;
}
@media screen and (max-width: 1000px) {
  .menu{
    width:75vw;
    display: flex;
  }
}