.page-layout {
  width: 100%;
  position: fixed;
  top: 5.3rem;
  display: flex;
  height: 89vh;
}

.ss{
  flex: 1;

}
.menu {
  min-height: fit-content;
  overflow-y:scroll;
  flex: 9;
  padding: 1rem;
}